body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  font-family: "Times New Roman", Times, serif, sans-serif;
}

#bateria,
#relogio {
  background-color: #000;
  color: #b0feff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #b0feff;
  margin: 30px;
}

.relogio_digital {
  font-size: 50px;
  text-align: center;
}

.nivel {
  font-size: 50px;
  text-align: center;
}

#calendario-container {
  text-align: center;
}

#mes-ano {
  color: #b0feff;
  font-size: 50px;
  margin-bottom: 20px;
}

#calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #b0feff;
}

.dia {
  background-color: #000;
  color: #b0feff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.hoje {
  background-color: #b0feff; /* Destaque para o dia de hoje */
  color: #000;
}

/* Estilo para os dias da semana */
.dia-semana {
  background-color: #000;
  color: #b0feff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

/* Adicionando media queries para dispositivos móveis */
@media (max-width: 600px) {
  .relogio_digital,
  .nivel {
    font-size: 30px;
  }

  #bateria,
  #relogio {
    padding: 10px;
    margin: 10px;
  }

  #calendario {
    grid-template-columns: repeat(7, 2fr); /* Ajuste do número de colunas */
    padding: 10px;
  }

  .dia,
  .dia-semana {
    padding: 5px;
    font-size: 12px;
  }
}

/* Ajustando a tipografia para dispositivos móveis */
html {
  font-size: 100%;
}

@media (max-width: 600px) {
  html {
    font-size: 90%;
  }
}
